/* Footer */
footer {
    font-family: digital-7;
    border-top: 5px solid white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: var(--org);
    /* width: 100%; */
    margin-top: 25px;
    overflow: hidden;
}

#footer-relative {
    position: relative;
    bottom:0;
}

#footer-bottom {
    position: fixed;
    margin-top: 90%;
    bottom:0;
}

/* Social media icon links*/

.foot-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot-wrapper .icon-button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: var(--blue);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.foot-wrapper .icon-button:hover{
  width: 200px;
}
.foot-wrapper .icon-button .icon{
  display: inline-block;
  color: white;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.foot-wrapper .icon-button:nth-child(1):hover .icon{
  background: var(--gray-d);
}
.foot-wrapper .icon-button:nth-child(2):hover .icon{
  background: var(--gray-d);
}
.foot-wrapper .icon-button:nth-child(3):hover .icon{
  background: var(--gray-d);
}

.foot-wrapper .icon-button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.foot-wrapper .icon-button:hover .icon i{
  color: #fff;
}
.foot-wrapper .icon-button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.icon-span {
  color: white;
}

.icon-anchor {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 900px) {

  
}