/* home pg */
.about-text-home {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  font-size: 30px;
}

.cont-profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.profile-pic {
width: 215px;
border-radius: 50%;
box-shadow: 5px 5px 10px rgb(37, 37, 37);
}

.dividers-line {
  border-top: 5px solid white;
  margin-top: 10px;
}

.icon-header {
  margin: 28px 5px 8px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
}

.code-logos-container {
  font-family: digital-7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 27px;
}

.code-logos {
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  width: 220px;

  img {
    max-width: 100%;
    height: auto;
    min-width: 30px;
  }
}

.code-logos h3 {
  margin-top: -25px;
}

.design-logos {
  font-family: digital-7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-bottom: 27px;

  img {
    max-width: 100%;
    height: auto;
    min-width: 30px;
  }
}

.email {
  font-family: digital-7;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  text-align: center;
  font-size: 45px;
}

@media screen and (max-width: 900px) {
  .cont-profile-pic {
    margin-top: 2px;
  }

  .profile-pic {
    width: 140px;
  }
  .about-text-home {
    font-size: 22px;
  }
  .code-logos {
    width: 100%;
  }
  .code-logos-container {
    grid-template-columns: 1fr 1fr; 
  }
  .design-logos {
    grid-template-columns: 1fr 1fr;
  }
  .email {
    font-size: 35px;
  }

}